<div class="hero-unit" >
 <h1>欢迎来到 Circle's Home</h1>
 <p>Circle Cat 是一个基于 Node.js 的有爱系统。 </p>
 <p>
 <a class="btn btn-primary btn-large" href="/login" >登录</a>
 <a class="btn btn-large" href="/reg" >立即注册</a>
 </p>
</div>
<div class="row" >
 <div class="span4" >
 <h2>Circle 说</h2>
 <p>东风破早梅 向暖一枝开 冰雪无人见 春从天上来</p>
 </div>
 <div class="span4" >
 <h2>Big Cat 说</h2>
 <p>
 我实在是很想Circle Cat，但是又不能联系，难受啊。我等的花儿也谢了。 </p>
</div>
 <div class="span4" >
 <h2>God 说</h2>
 <p>要有光，于是就有了。 </p>
 </div>
</div>